.vs/Databases.slnx/FileContentIndex/04600503-06d6-4f1b-9856-fc6f819a6533.vsidx
.vs/Databases.slnx/FileContentIndex/461f3c10-f0c5-4a78-8c8f-c4d8a283710e.vsidx
.vs/Databases.slnx/FileContentIndex/f045a8b3-c23d-4071-a714-4c469b49e321.vsidx
.vs/Databases.slnx/FileContentIndex/774cfbc8-b477-44eb-8347-26828d908385.vsidx
.vs/Databases.slnx/FileContentIndex/f6a022f6-3308-49fc-a42c-2a02e2a9aca3.vsidx
/.vs/Databases.slnx/FileContentIndex
.vs/Databases.slnx/v18/DocumentLayout.backup.json
